<p>
  <strong>First Name:</strong>
  <%= @booking.first_name %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @booking.last_name %>
</p>

<p>
  <strong>Animal Name:</strong>
  <%= @booking.animal_name %>
</p>

<p>
  <strong>Animal Type:</strong>
  <%= @booking.animal_type %>
</p>

<p>
  <strong>Hours Requested:</strong>
  <%= @booking.hours_requested %>
</p>

<p>
  <strong>Date of Service:</strong>
  <%= @booking.date_of_service %>
</p>

<p>
  <strong>Total Cost:</strong>
  <%= @booking.total_cost %>
</p>
